* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  color: #ffffff;
  font-family: sans-serif;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
